.single-post {
  background-color: #1e1e1e;
  width: 355px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.single-post-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
  gap: 19px;
  /* padding-left: 30px; */

}

.left-arrow-icon {
  flex: 1;

}

.s-post-h-text {
  flex: 1.5;

}
.s-post-h-text > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.005em;

  color: #ffffff;
}
.post-s {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 0px;
  gap: 14px;
  width: 100%;
}

.post-s-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.post-s-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}


.comments{
  width: 100%;
  /* border: 1px sienna solid; */
}
.write-comment {
  /* width: 100%; */
  height: 48px;
  /* padding-left: 8px; */
  background: #2a2a2a;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.write-comment input {
  width: 100%;
  height: 48px;
  padding-left: 12px;
  background: none;
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

.write-comment input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #999ca2;
}
.write-comment .input-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.write-comment .group-icon {
  padding-right: 5px;
}

.total-comments {
  width: 100%;
  padding-top: 5px;
}
.total-comments span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-left: 12px;
  color: #ffffff;
}

.show-comments {
  padding-bottom: 2rem;
}
.show-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 10px;
}

.comment-content span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #ffffff;
}

.view-replies span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  text-decoration-line: underline;

  color: #585e66;
}

.comment-reply-user-info {
  display: flex;
  gap: 7px;
}
.comment-reply-user-info img {
  width: 18px;
  height: 18px;
}

.comment-reply-user-info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  color: #ffffff;
}
.comment-reply-user-info span span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #999ca2;
}
.comment-reply-time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-reply-time> :first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #999ca2;
}
.comment-reply-time> :last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;

  color: #fc9b00;
}
